body {
  background-color: darkred;
}

h1 {
  color: gold;
  text-align: center;
  font-family: 'Lucida Handwriting', cursive;
  font-weight: bold;
  margin-left: 20px;
  text-shadow: 2px 2px white;

}

p {
  color: white;
  text-align: center;
  font-family: 'Lucida Handwriting', cursive;
  font-size: 20px;
  text-shadow: 2px 2px 5px gold;
  
}

